*{
  box-sizing: border-box;
  margin: 0;
}
.header-1{
  background-image: url(img/pattern.png);
  height: 80px;
  background-color:rgb(97, 176, 202) ;
  background-size: 35%;
  margin-bottom: 10px;
}
#logo{
  height: 30px;
  margin-top: 30px;
  padding-left: 5px;
}
header h1{
  font-size: 30px;
}
.grey, #date{
  color: grey;
}
.azure{
  color: aqua;
  font-weight: bold;
}
#date , .photo-description{
  font-size:12px ;
}

.bkg-yellow{
 background-color: yellow; 
}
.photos , .description , table , .table-p , .foot-img1 , .foot-img2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
table{
  border-spacing: 0;
}

thead{
  background-color: rgb(72, 176, 217);
  color: white;
  text-align: left;
}
.table-odds{
  background-color: rgb(143, 238, 238);
}
.td-long{
  width: 50%;
}
.foot-img1{
  background-image: url("img/monitor.jpg");
}
.foot-img2{
  background-image: url("img/graph.jpg");
}
h5{
  color: white;
}
.foot-img1 , .foot-img2{
  height: 207px;
  width:310px ;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
}